<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">quarterstaff</ansi> (carpentry recipe)

A long, heavy staff of hardwood.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       carpentry (minimum 5)
  <ansi fg="yellow">Station:</ansi>     woodworking bench
  <ansi fg="yellow">Ingredients:</ansi> hardwood board (x2)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help carpentry</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
