The <ansi fg="command">setcondition</ansi> command can be used in the following ways:

<ansi fg="command">setcondition [conditionId]</ansi> - e.g. <ansi fg="command">setcondition 1</ansi>
Apply a condition to yourself, by id or by name (a name applies the
first search match)

<ansi fg="command">setcondition [target] [conditionId]</ansi> - e.g. <ansi fg="command">setcondition sammy 1</ansi>
Apply a condition to a player or mob in the room, by id or by name

<ansi fg="command">setcondition search [searchstring]</ansi>
e.g. <ansi fg="command">setcondition search Liar</ansi> or <ansi fg="command">setcondition search "Liar's Tongue"</ansi>
Searches for any conditions that match and returns a list along with
their ids

<ansi fg="command">setcondition list</ansi>
Displays a list of all conditions

<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">"buff" still works as an alias for this command;</ansi>
<ansi fg="magenta">it will be removed in a later update.</ansi>
